.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

.container > h1 {
  text-align: center;
  color: rgb(194, 152, 2);
}

/* Accueil */

#home {
  background-color: rgb(1, 1, 56);
  display: flex;
  flex-direction: column;
  color: rgb(194, 152, 2);
  padding: 8px;
  border-radius: 10px;
  gap: 8px;
}

.deck-row {
  border: 1px solid rgba(17, 17, 228, 0.6);
  background-color: rgba(3, 3, 139, 0.6);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

#recap {
  background-color: rgba(14, 172, 172, 0.65);
  font-size: 2rem;
  color: rgb(31, 31, 96);
  border-radius: 5px;
  margin-bottom: 20px;
  min-height: 75px;
  display: flex;
  align-items: center;
  padding: 10px;
}

/* Review */



/* Editor */



/* Button generic */

.btn {
  border: none;
  margin: 8px;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  width: 95px;
  height: 30px;
}
 /* Custom buttons */

.suppress-btn {
  background-color: red;
  color: white;
}

.suppress-btn:hover {
  background-color: darkred;
}

.review-btn {
  background-color: rgb(31, 31, 96);
  color: white;
}

.review-btn:hover {
  background-color: rgb(143, 143, 244);
}

.home-btn {
  background-color: rgb(31, 31, 96);
  color: white;
}

.home-btn:hover {
  background-color: rgb(143, 143, 244);
}

.editor-btn {
  background-color: aqua;
}

.editor-btn:hover {
  background-color: rgb(14, 172, 172);
}

.add-btn {
  background-color: #C29803;
  color: rgb(31, 31, 96);
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.add-btn:hover {
  background-color: rgb(31, 31, 96);
  border: dotted 4px #C29803;
  color: #C29803;
  font-size: large;
  transition: ease 0.3s;
}

.failed-btn {
  background-color: rgba(121, 3, 3, 0.658);
  border: dotted 3px rgba(68, 3, 3, 0.9)
}

.failed-btn:hover {
  background-color: rgba(121, 3, 3, 0.9);
  border: solid 3px rgba(68, 3, 3, 0.9)
}

.hard-btn {
  background-color: rgba(169, 74, 5, 0.658);
  border: dotted 3px rgba(68, 3, 3, 0.9)
}

.hard-btn:hover {
  background-color: rgba(169, 74, 5, 0.9);
  border: solid 3px rgba(109, 41, 2, 0.9)
}

.ok-btn {
  background-color: rgba(20, 15, 120, 0.658);
  border: dotted 3px rgba(68, 3, 3, 0.9)
}

.ok-btn:hover {
  background-color: rgba(20, 15, 120, 0.9);
  border: solid 3px rgba(23, 4, 86, 0.9)
}

.easy-btn {
  background-color: rgba(15, 111, 51, 0.658);
  border: dotted 3px rgba(68, 3, 3, 0.9)
}

.easy-btn:hover {
  background-color: rgba(15, 111, 51, 0.9);
  border: solid 3px rgba(2, 72, 43, 0.9)
}
